:root{
    --primary-400: #2D609B;
    --primary-500: #4680B0;
    --primary-100: #0D1E4A;

    --success-100: #D1FADF;
    --success-500: #12B76A;

    --background-gray-100: #F2F2F2;
    --background-gray-200: #F7F2FA;
    --background-gray-500: #DCD8E0;
    --background-blue-300: #BAD0E2;

    --outline-gray-300-light: #D3D3D3;
    --outline-gray-300: #C4CDD5;
    --outline-gray-400: #BCBABF;
    --outline-gray-900: #79747E;

    --text-black-300: #333333;
    --text-black-300: #49454F;

    --accent: #7EBBED;
    
}

body{
    border: 2px solid var(--outline-gray-900);
    width: 320px;
    height: 426px;
}
.header{
    background-color: var(--background-blue-300);
    display: flex;
    padding-left: 5px;
    height: 33px;
    align-items: center;
    border-bottom: 1px solid var(--outline-gray-900);
}
.main-content{
    height: 372px;
}
.nav-footer-bar{
    height: 54px;
    box-shadow: 0px -3px 8px 0px rgba(0, 0, 0, 0.2);
    display: flex;
}
.segment{
    width: 33%;
    height: 100%;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.elem-lists{
    display: flex;
    width: 100vh;
    height: 40px;
    align-items: center;
}
.img-elem-lists{
    margin: 10px;
}
.img-menu{
    margin: 5px;

}
.not-active-elem-list{
    opacity: 0.5;
}


p{
    margin: 0;
    font-size: 12px;
    font-family: 'Roboto';
}
img{
  height: 21px;
  width: 21px;  
}
