:root{
    --primary-400: #2D609B;
    --primary-500: #4680B0;
    --primary-100: #0D1E4A;

    --success-100: #D1FADF;
    --success-500: #12B76A;

    --background-gray-100: #F2F2F2;
    --background-gray-200: #F7F2FA;
    --background-gray-500: #DCD8E0;
    --background-blue-300: #BAD0E2;

    --outline-gray-300-light: #D3D3D3;
    --outline-gray-300: #C4CDD5;
    --outline-gray-400: #BCBABF;
    --outline-gray-900: #79747E;

    --text-black-300: #333333;
    --text-black-300: #49454F;

    --accent: #7EBBED;
    
}

.header-content{
    display: flex;
    width: 100%;
    height: 37px;
}
.header-content-left{
    width: 48%;
    margin-left: 2%;    
    display: flex;
    justify-content: left;
    align-items: center;
}
.header-content-right{
    width: 50%;
    display: flex;
    align-items: center;
}
button{
    border-radius: 100px;
    border: 1px solid var(--primary-400);
    color: white;
    background-color: var(--primary-400);

    width: 73px;
    height: 21px;

    margin: 5px;

    font-size: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#main-content-list{
    height: 320px;

    margin: 5px;

    border: 1px solid var(--outline-gray-900);
    border-radius: 4px;

    overflow-y: auto;
}
p{
    font-size: 10px;
}
.elem_list_name{
    font-size: 12px;
    margin-bottom: 1px;
}
.elem_lists{
    border-bottom: 1px solid var(--outline-gray-900);
    padding: 5px;
}
.img-buttons{
    height: 16px;
    width: 16px;
    margin: 3px;
}